/* 4h PAGINATION */
.back__button{
  padding: 8px;
  margin: 8px
}

.next__button{
  padding: 8px;
  margin: 8px
}

.page-numbers{
  margin: 4px 4px;
}

/* 4i. Stretch */

.stretch__button{
  border: none;
  background-color: rgb(18, 228, 18);
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 8px 12px;
  cursor: pointer;
  transition: padding 800ms ease;
}

.stretch__button:hover{
  padding: 18px 36px;
}